@charset "utf-8";

*,*:after,*:before {box-sizing:border-box;}

.followAnimation {
	position: fixed;
	top: 0;
	left: 0;
	will-change: transform; /*부드러운 화면처리- 최적화*/
	font-size: 3rem;
	display: block;
	color: #fff;
}

html, body {
	width: 100%;
	height: 100%;
}

body {background: #000;}


